# Image datasets — too large for GitHub
Fitzpatrick/data/finalfitz17k/
data/finalfitz17k/
**/*.jpg
**/*.png

# Python
__pycache__/
*.pyc
.env
venv/
.venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# Model weights
*.pt
*.pth
*.h5
*.pkl
